body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
section{
    height: 555px;
    padding-bottom: 100px;
}

#top{
    padding-top: 10%;
}
#top2{
    padding-top: 15%;
    margin-left: 1%;
}
h3{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
h4{
    font-size: 30px;
    font-weight: 500;
}
p{
    color: dimgray;
}

.color-edit{
    color:lightsalmon ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 2%;   
}
.half-width img{
    width: 80%;
}
.first-section{
    background-image: url("images/header-bg.png");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.midel-section{
    background-image: url("images/biography-bg.png");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.second-midel-width{
    text-align: center;
    font-size: 27px;
    
}
.photo-edit{
    width: 27%;
    float: left;
    margin-left: 2%;
}
.photo-edit img{
    width: 100%;
}
#photo-cover{
    margin-left: 15%;
}
.second-midel-section{
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}
.model{
    padding-top: 8%;
}
#text-midel{
    text-align: center;
    padding-bottom: 45px;
}
h2{
    font-size:32px;
    font-weight: 500;
    
}
h5{
    margin: 9px;
    font-weight: 500;
    
}
#font{
    font-size: 10px;
}
.btn{
    display: block;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color:#FF448E;
    color: white;
    padding: 15px 6px;
    border-radius: 13px;

}
.btn p{
    font-size: small;
    color: white;
}
.btn h3{
    font-size: 25px;
}
.header{
    background-image: url("images/footer-bg.png");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center; 
    padding-top: 3%;
}
.down-area{
    text-align: center;
    color: gainsboro;
    height: auto;
}
@media screen and (max-width:480px){
    section{
        height:450px;
        padding-bottom: 50px;
    }
    .half-width{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0px;
       
       
        
    }
    
    .half-width img{
        padding-top: 50px;
  
    }
    .none-img img{
        display: none;
    }
    .second-midel-width{
        padding-top: 30px;
    }
    .second-midel-section{
        height: 300px;
    }
    .btn{
        width: 50%;
    }
    #top{
        padding-top: 0px;
    }
    #top2{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 0px;
    }
       
}